$text: #302c36;
$accent: #1eb53a;
$btn-sec: #fb5607;

%kan-600 {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}
%kan-700 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
%pro-400 {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}
%pro-500 {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
}
%pro-600 {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
}
